#container-menu {
    transition: linear 5s linear !important;
}

.content-loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    margin-top: 25%;
    margin-bottom: 25%;
}

.loader {
    border: 14px solid #f3f3f3;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
