.price-input {
    width: 100%;
    display: block;
}

.price-input .field {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rebeccapurple;
}

.field .input-min .input-max {
    width: 100%;
    height: 100%;
    margin-left: 12px;
    outline: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999999;
}

.price-input .separator {
    background: red;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
