
.range-slider {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.rangeValues {
    display: block;
    box-shadow: 0 0 20px rgba(119, 122, 125, 0.25);
    padding: 20px;
    font-size: 16px;
    margin-bottom: 35px;
}



