.slider {
    background-color: #FFFFFF;
    padding: 30px;
    position: absolute;
}

.range-slider {
    width: auto;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.rangeValues {
    display: block;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    padding: 20px;
    font-size: 16px;
    margin-bottom: 35px;
}



